/* Estilos del carrusel */
.carousel {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
}

.carousel-item {
    padding: 20px;
}

.carousel-inner {
    text-align: center;
}

.carousel-item h3 {
    font-size: 32px;
    font-weight: bold;
}

.carousel-item {
    font-size: 19px;
}

.promo {
    background-color: #16a085;
    text-align: center;
}
